version = 1

currency = "czk"
secrets_file = "secrets.env"
storage_file = "data.store"

[[strategies]]
name = "MinRatioAssetStrategy"
weight = 0.5

[[strategies]]
name = "DCAStrategy"
weight = 0.5

[spend]
amount = "$SPEND_AMOUNT_USD"
currency = "USD"

[ideal]
stock = 50
gold = 30
cash = 20

[[providers.offline.data.assets]]
name = "Physical Gold Ounces"
aclass = "gold"
amount = "$PHYSICAL_GOLD_OUNCES"
price = 56_500
currency = "czk"

[[providers.offline.data.assets]]
name = "Cash CZK"
aclass = "cash"
amount = "$CASH_CZK"
price = 1
currency = "czk"

# XTB demo account
[providers.xtb.data]
url = "wss://ws.xtb.com/demo"
login = "$XTB_DEMO_LOGIN"
password = "$XTB_DEMO_PASSWORD"

[providers.kraken.data]
currency = "EUR"
token_key = "$KRAKEN_KEY"
token_secret = "$KRAKEN_SECRET"
dryrun = true
